/*Estilos al body*/
body{
    background-color: rgb(230, 224, 224);
    display: flex;
    flex-direction: column;
    position: relative;
    padding-bottom: 120px;
}



h1{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(253, 251, 249);  
    padding: 30px;
}

nav{
    border-radius: 15px;
    box-shadow: 0px 3px 5px rgba(15, 15, 15, .5);
}

/*Asigno un tamaño al main*/
main{
  min-height: 450px;
}


.h3-1{
    padding: 10px;
    background-color: rgb(255, 81, 0); 
    border-radius: 15px; 
    box-shadow: 0px 3px 5px black;
}


.sec-1{
    width: 100%;
    padding: 0px 5px;
}

/*Aplicamos la clase conteiner a la imagen del index*/
.conteiner{
    width: 75vw;
    max-width: 1000px;
    min-width: 360px;
    margin: 0;   
}

.conteiner img{
    width: 100%;
    border-radius: 15px;
    box-shadow: 0px 3px 5px rgba(15, 15, 15, .5);
}

/*Aplico flex grid al main de about*/
#mainabout{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 75vw;
    margin: auto;
    padding: 20px;
    gap: 20px;
    
}

#im1 {
    grid-row: 1 / -1;
    grid-column: 2 / -1;
}

/*Tamaño del logo*/
.logo {
    height: 5rem; 
    padding: 5px 20px;
}

/*Estilo a los botones del navbar*/
.button {
    background-color: rgb(221, 44, 13);
    border-radius: 15px;
    color:black
}

.button:hover {
    color: antiquewhite;
}

.button-2{
    color: rgb(221, 44, 13);
}

.button-2:hover {
    color: antiquewhite;
}

.bi-instagram:hover {
    color: rgb(248, 96, 69);
}

.bi-facebook:hover {
    color: rgb(98, 98, 228);
}

.bi-whatsapp:hover{
    color: rgb(107, 247, 118);
}

.tx-1{
    padding: 10px;
}


.texto-1:hover{
    color: rgb(221, 44, 13);
}

.boton-2 {
    background-color: rgb(221, 44, 13);
    border-radius: 15px;
    color:black;
    border: none;
    box-shadow: 0px 3px 5px rgba(15, 15, 15, .5);

}

.boton-2:hover{
    color: white;
    background-color: rgb(221, 44, 13);
}

/*Estilos de las tarjetas*/
.card-1{
    padding: 2rem 2rem; 
    gap: 1rem;
}

.w-25{
    max-width: 400px;
    min-width: 300px;
}

/*Estilos del Footer*/
footer{
    color: rgb(230, 224, 224);
    background-color: black;
    position: absolute;
    bottom: 0;
    width: 100%;



}