body{
    background-color: rgb(230, 224, 224);
    display: flex;
    flex-direction: column;
}



h1{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(253, 251, 249);  
    padding: 2rem;
}

nav{
    border-radius: 15px;
    box-shadow: 0px 3px 5px rgba(15, 15, 15, .5);
}

.h3-1{
    padding: 10px;
    background-color: rgb(255, 81, 0); 
    border-radius: 15px; 
    box-shadow: 0px 3px 5px black;
}



main{
  min-height: 450px;
}


.conteiner{
    width: 75vw;
    max-width: 1000px;
    min-width: 360px;
    margin: 0;   
}

.conteiner img{
    width: 100%;
    border-radius: 15px;
    box-shadow: 0px 3px 5px rgba(15, 15, 15, .5);
}

footer{
    color: rgb(230, 224, 224);
    background-color: black;
    border-radius: 15px;
    box-shadow: 0px 3px 5px rgba(15, 15, 15, .5);

}


#mainabout{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 75vw;
    margin: auto;
    padding: 20px;
    gap: 20px;
    
}

#im1 {
    grid-row: 1 / -1;
    grid-column: 2 / -1;
}


.logo {
    height: 5rem; 
    padding: 5px 20px;
}

.button {
    background-color: rgb(221, 44, 13);
    border-radius: 15px;
    color:black
}

.button:hover {
    color: antiquewhite;
}

.button-2{
    color: rgb(221, 44, 13);
}

.button-2:hover {
    color: antiquewhite;
}

.bi-instagram:hover {
    color: rgb(221, 44, 13);
}

.bi-facebook:hover {
    color: rgb(44, 44, 192);
}

.bi-whatsapp:hover{
    color: greenyellow;
}

.texto-1:hover{
    color: rgb(221, 44, 13);
}

.boton-2 {
    background-color: rgb(221, 44, 13);
    border-radius: 15px;
    color:black;
    border: none;
    box-shadow: 0px 3px 5px rgba(15, 15, 15, .5);

}

.boton-2:hover{
    color: white;
    background-color: rgb(221, 44, 13);
}

.card-1{
    padding: 2rem 2rem; 
    gap: 1rem;
}

.w-25{
    max-width: 400px;
    min-width: 300px;
}

.fo-1{
    margin: 0.5rem; 
    padding: 0.5rem;
    position: absolute;
    bottom: 0;
    width: 97.5vw;
}